<div id="titulo-mi-perfil"></div>
<div *ngIf="Cliente" class="mi-perfil row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bienvenido {{ Cliente.nombre }} {{ Cliente.apellido }}</h4>
                <p class="card-text">Esta es tu página personal.</p>
                <p class="card-text">
                    <small class="text-muted">Número de contacto:</small> {{Cliente.celular}}
                </p>
                <div class="card">
                    <div class="card-header">
                        <tabset class="nav-tabs-primary">
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-credit-card"> </i> Tarjetas
                                </ng-template>
                                <ng-container *ngIf="Tarjetas">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Tarjeta No.</th>
                                                <th>Fecha de vencimiento</th>
                                                <th>Estado</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tarjeta of Tarjetas; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{tarjeta.numero_tarjeta}}</td>
                                                <td>{{tarjeta.fecha_vencimiento}}</td>
                                                <td>Activo</td>
                                                <td>
                                                    <button class="btn btn-danger btn-fab btn-icon btn-round"
                                                        (click)="eliminarTarjeta(tarjeta.numero_tarjeta)">
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-shape-star"> </i> Favoritos
                                </ng-template>
                                <ng-container *ngIf="Favoritos">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Producto</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let favorito of Favoritos; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{favorito.nombre}}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-fab btn-icon btn-round"
                                                        (click)="removerFavorito(favorito.id_producto)">
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-paper"> </i> Facturas
                                </ng-template>
                                <ng-container *ngIf="Facturas">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Número factura</th>
                                                <th>Nombre</th>
                                                <th>NIT</th>
                                                <th>Dirección envío</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let factura of Facturas; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{factura.numero_factura}}</td>
                                                <td>{{factura.nombre}}</td>
                                                <td>{{factura.nit}}</td>
                                                <td>{{factura.direccion_envio}}</td>
                                                <td>{{obtenerEstado(factura.estado)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-basket-simple"> </i> Compras
                                </ng-template>
                                <ng-container *ngIf="Compras">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Producto</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let compra of Compras; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{compra.Producto}}</td>
                                                <td>{{compra.Total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-tap-02"> </i> Subastas
                                </ng-template>
                                <ng-container *ngIf="Subastas">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Subasta identificador</th>
                                                <th>Total</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subasta of Subastas; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{subasta.id_subasta}}</td>
                                                <td>{{subasta.valor}}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-fab btn-icon btn-round"
                                                        (click)="pagar(subasta.id_subasta, subasta.valor)">
                                                        <i class="tim-icons icon-check-2"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-basket-simple"> </i> Productos
                                </ng-template>
                                <ng-container *ngIf="Productos">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Nombre producto</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let producto of Productos; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td><a [routerLink]="['/producto',producto.id_producto]">
                                                        {{producto.nombre}}
                                                    </a></td>
                                                <td>
                                                    <button class="btn btn-danger btn-fab btn-icon btn-round"
                                                        (click)="eliminarProductoCliente(producto.id_producto)">
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <img class="card-img-bottom" [src]="Foto" alt="Card image cap" />
        </div>
    </div>
</div>
<div *ngIf="Proveedor" class="mi-perfil row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bienvenido {{ Proveedor.nombre_empresa }} <small>({{ Proveedor.email }})</small>
                </h4>
                <p class="card-text">Esta es tu área Personal</p>
                <p class="card-text">
                    <small class="text-muted">Dirección: </small> {{ Proveedor.direccion }}
                </p>
                <div class="card">
                    <div class="card-header">
                        <tabset class="nav-tabs-primary">
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-paper"> </i> Ventas
                                </ng-template>
                                <ng-container *ngIf="Ventas">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Nombre producto</th>
                                                <th>Facturas</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let venta of Ventas; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{venta.Producto}}</td>
                                                <td>{{venta.Cantidad}}</td>
                                                <td>{{venta.Total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="tim-icons icon-basket-simple"> </i> Productos
                                </ng-template>
                                <ng-container *ngIf="Productos">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Nombre producto</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let producto of Productos; let i = index">
                                                <td class="text-center">{{i+1}}</td>
                                                <td><a [routerLink]="['/producto',producto.id_producto]">
                                                        {{producto.nombre}}
                                                    </a></td>
                                                <td>
                                                    <button class="btn btn-danger btn-fab btn-icon btn-round"
                                                        (click)="eliminarProductoProveedor(producto.id_producto)">
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>