<div class="page-header">
  <div class="squares square1"></div>
  <div class="squares square2"></div>
  <div class="squares square3"></div>
  <div class="squares square4"></div>
  <div class="squares square5"></div>
  <div class="squares square6"></div>
  <div class="page-header-image"></div>
  <div class="container">
    <div class="col-lg-5 col-md-8 mx-auto">
      <div class="card card-login">
        <form action="" class="form" method="" [formGroup]="loginForm">
          <div class="card-header">
            <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />

            <h4 class="card-title" id="titulo-inicio">Inicio</h4>
          </div>
          <div class="card-body">
            <div class="input-group input-lg" [ngClass]="{ 'input-group-focus': focus === true }">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-single-02"> </i>
                </span>
              </div>
              <input class="form-control" placeholder="Usuario" type="text" (blur)="focus = false"
                (focus)="focus = true" formControlName="email" />
            </div>
            <div *ngIf="Submitted && f.email.errors">
              <div *ngIf="f.email.errors.required" class="invalid-feedback d-block text-right">Requerido
              </div>
            </div>
            <div class="input-group input-lg" [ngClass]="{ 'input-group-focus': focus1 === true }">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-caps-small"> </i>
                </span>
              </div>
              <input class="form-control" placeholder="Contraseña" type="password" (blur)="focus1 = false"
                (focus)="focus1 = true" formControlName="contrasena" />
            </div>
            <div *ngIf="Submitted && f.contrasena.errors">
              <div *ngIf="f.contrasena.errors.required" class="invalid-feedback d-block text-right">Requerido
              </div>
            </div>

            <div class="input-group input-lg" [ngClass]="{ 'input-group-focus': focus2 === true }">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-tag"> </i>
                </span>
              </div>

              <select [attr.disabled]="IsAdmin ? true: null" class="form-control" placeholder="Tipo usuario"
                type="number" (blur)="focus2 = false" (focus)="focus2 = true" formControlName="tipousuario">
                <option value="" disabled selected hidden>Seleccione el tipo de usuario</option>
                <option [value]="item.id" *ngFor="let item of tipoUsuario">{{item.text}}</option>
                <option value="0" *ngIf="IsAdmin" [selected]="IsAdmin">Admin</option>
              </select>
            </div>
            <div *ngIf="Submitted && f.tipousuario.errors">
              <div *ngIf="f.tipousuario.errors.required" class="invalid-feedback d-block text-right">Requerido
              </div>
            </div>
          </div>

          <div id="notification" class="alert alert-danger" *ngIf="alerta" role="alert">{{ alerta }}</div>
          <div class="card-footer text-center">
            <button class="btn btn-danger btn-round btn-lg btn-block" (click)="login()">
              Ingresar
            </button>
          </div>
          <div class="pull-left ml-3 mb-3">
            <h6>
              <a class="link footer-link text-danger" routerLink="/register">
                Crear cuenta
              </a>
            </h6>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>