<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          <div class="square square-7" id="square7"></div>
          <div class="square square-8" id="square8"></div>
          <div class="card card-nav-tabs text-center">
            <div class="card-header card-header-primary">
              <h1 class="card-title">Categoría - {{Form.nombre.value}}</h1>
            </div>
            <!--  -->
            <div class="card-body">
              <form class="form" [formGroup]="form">
                <div class="input-group" [ngClass]="{ 'input-group-focus': Focus1 === true }">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-single-02"> </i>
                    </div>
                  </div>
                  <input class="form-control" placeholder="Nombre" type="text" (blur)="Focus1 = false"
                    (focus)="Focus1 = true" formControlName="nombre" />
                </div>
                <div *ngIf="Submitted && Form.nombre.errors">
                  <div *ngIf="Form.nombre.errors.required" class="invalid-feedback d-block text-right">
                    Requerido
                  </div>
                </div>
              </form>
              <div id="notification" class="alert alert-danger" *ngIf="alerta" role="alert">{{ alerta }}
              </div>
              <button class="btn btn-danger btn-round btn-lg" (click)="submit()">
                Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register-bg"></div>
  </div>
</div>